template(name="BuyPoints")
  p
    | 100 for $1.00
    input(type="radio", name="points", value="100")
  p
    | 200 for $2.00
    input(type="radio", name="points", value="200")
  p
    | 400 for $4.00
    input(type="radio", name="points", value="400")
